@page
@using Application.Common.Models;
@model WebUI.Pages.admin.categories.DetailModel
@{
}

<!-- Main content -->
<section class="content">
    <!-- END ALERTS AND CALLOUTS -->
    <h5 class="mt-4 mb-2">Category Translations</h5>

    <div class="row">
        <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">Languages</h3>
                    <ul class="nav nav-pills ml-auto p-2">

                        @*body ve dil arasinda elaqe problemi var *@

                        @foreach (LanguageDto language in Model.Languages)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" href="@language.LanguageCode" data-toggle="tab">@language.Title</a>
                            </li>
                        }

                    </ul>
                </div><!-- /.card-header -->

                <div class="card-body">
                    <table class="table table-striped projects" id="">
                        <thead>
                            <tr>
                                @foreach (var property in typeof(CategoryTranslationDto).GetProperties())
                                {
                                    <th>@property.Name</th>
                                }
                                <th style="width: 30%"></th>

                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.CategoryTranslations != null)
                            {
                                @foreach (CategoryTranslationDto translation in Model.CategoryTranslations)
                                {
                                    <tr>
                                        @foreach (var property in typeof(CategoryTranslationDto).GetProperties())
                                        {
                                            <td>@property.GetValue(translation)</td>

                                        }

                                        <td class="project-actions text-right">
                                            <form method="post">
                                                <a class="btn btn-primary btn-sm"
                                                   asp-page="/admin/categories/translation/detail"
                                                   asp-route-id="@translation.Id">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    View
                                                </a>
                                                <a class="btn btn-info btn-sm"
                                                   asp-page="/admin/languages/translation/edit"
                                                   asp-route-id="@translation.Id">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Edit
                                                </a>

                                                <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@translation.Id')">
                                                    <i class="fas fa-trash"></i>
                                                    Delete
                                                </a>

                                                <div class="modal" id="deleteConfirmationModal_@translation.Id" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Confirm Deletion</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to delete?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@translation.Id">
                                                                    Yes
                                                                </button>
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                }}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- ./card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- END CUSTOM TABS -->


</section>
