@page
@using Application.Common.Models;
@model WebUI.Pages.admin.posts.DetailModel
@{
}
<style>
    img {
        max-width: 150px; /* Adjust the value as needed */
    }
</style>
<!-- Main content -->
<section class="content">
    <h5 class="mt-4 mb-2">Post Translations</h5>

    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">


                    <div class="form-group">

                        <form method="post">
                            <div class="form-group">
                                <label for="Status">Language</label>
                                <select asp-for="LanguageId" class="form-control" asp-page-handler="OnPost" onchange="this.form.submit()">
                                    <option value="0">Select Language</option>
                                    @foreach (LanguageDto language in Model.Languages)
                                    {
                                        <option asp-for="LanguageId" value="@language.Id">@language.LanguageCode</option>
                                    }
                                </select>
                            </div>
                        </form>

                    </div>

                    <table class="table table-striped projects" id="">
                        <thead>
                            <tr>
                                @foreach (var property in typeof(PostTranslationDto).GetProperties())
                                {
                                    if (property.Name == "LanguageId")
                                    {
                                        <th>Language</th>
                                    }
                                    else if (property.Name == "NewsId")
                                    {
                                        <th>Post</th>
                                    }
                                    else if (property.Name == "AuthorId")
                                    {
                                        <th>Author</th>
                                    }
                                    else
                                    {
                                        <th>@property.Name</th>
                                    }
                                }
                                <th style="width: 10%"></th>

                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.PostTranslations != null && Model.PostTranslations.Any())
                            {
                                @foreach (PostTranslationDto translation in Model.PostTranslations)
                                {
                                    <input hidden asp-for="PostId" value="@translation.NewsId" />

                                    <tr>
                                        @foreach (var property in typeof(PostTranslationDto).GetProperties())
                                        {
                                            if (property?.GetValue(translation) is not null && property.Name == "LanguageId")
                                            {
                                                string languageName = Model.Languages.FirstOrDefault(r => r.Id == (short)property.GetValue(translation))?.LanguageCode;
                                                <td>@languageName</td>
                                            }
                                            else if (property.Name == "NewsId")
                                            {
                                                string postName = Model.Posts.FirstOrDefault(r => r.Id == (long)property.GetValue(translation))?.Title;
                                                                                               
                                                <td>@postName</td>
                                            }
                                            else if (property?.GetValue(translation) is not null && property.Name == "AuthorId")
                                            {
                                                string authortName = Model.Users.FirstOrDefault(r => r.Id == (int)property.GetValue(translation))?.UserName;
                                                <td>@authortName</td>
                                            }
                                            else if (property.Name == "Context")
                                            {
                                                <td>
                                                    <div style="font-size: 12px;">
                                                        @Html.Raw(property.GetValue(translation))
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>@property.GetValue(translation)</td>
                                            }
                                        }

                                        <td class="project-actions text-right">
                                            <form method="post">
                                                <a class="btn btn-primary btn-sm"
                                                   asp-page="/admin/posts/translation/detail"
                                                   asp-route-id="@translation.Id">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    View
                                                </a>
                                                <a class="btn btn-info btn-sm"
                                                   asp-page="/admin/posts/translation/edit"
                                                   asp-route-id="@translation.Id">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Edit
                                                </a>

                                                <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@translation.Id')">
                                                    <i class="fas fa-trash"></i>
                                                    Delete
                                                </a>

                                                <div class="modal" id="deleteConfirmationModal_@translation.Id" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Confirm Deletion</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to delete?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@translation.Id">
                                                                    Yes
                                                                </button>
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">No Post translations found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- ./card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- END CUSTOM TABS -->


</section>
